<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width = "300" alt ="logo picsou" src="https://blog.francetvinfo.fr/case-a-part/files/2013/01/picsou.jpg">

</div>

<app-user-list-view></app-user-list-view>

<!--<app-form></app-form>-->

<!--<app-wallet-view></app-wallet-view>-->





<h2>L'argent c'est du vent! </h2>
<img width = "150" alt ="logo gainsb" src="http://www.allons-sortir.fr/illustration/Autres/personnages/gainsbourg-billet-500-francs.png">


